<div class="user-tools">
    <div id="user-profile">
        <div class="btn-user-whole">
            <button class="button btn-user-initial"></button>
            <span class="user-fullname"></span>
        </div>
    </div>
</div>
