h1, h2, h3, h4, h5, h6 {
    font-family: $font-serif;
}

.g-upper-body h1.headline {
    font-family: $font-serif;
}

.g-body {
    .g-main-content {
        p, ul, li, dt, dd {
            font-family: $font-serif;
        }

        code {
            color: $black;
            font-size: 85%;
            background-color: $accent-code-word;
            -webkit-box-shadow: 4px 0px 0px $accent-code-word, -4px 0px 0px $accent-code-word;
            -moz-box-shadow: 4px 0px 0px $accent-code-word, -4px 0px 0px $accent-code-word;
            box-shadow: 4px 0px 0px $accent-code-word, -4px 0px 0px $accent-code-word;
            border-radius: 6px;
            padding: .2em 0;
        }

        pre {
            padding: 16px 0px;
            border-radius: 6px;
            margin: 0;
            &:before {
                display: none;
            }
            code {
                font-size: 100%;
            }
            .line-number::before {
                color:  $black;
                opacity: 0.25;
            }
        }
    }
}

div#main-search-page div.main-item div.branding h3.branding-label,
div.g-upper-body h1.headline,
header#masthead.masthead div.container div.branding h3.branding-label
{
    font-weight: bold;
}

#main-search-page .main-item .featured-cat {
    .cat-container.style-button ul li {
        display: inline-block;   
    }
    .cat-container {
        padding-left: 40px;
    }
    .cat-container.style-docs ul li .btn-homepage:hover {
        color: $white;
    }
}

div.search-topper form.search-container button.icon:hover {
    background-color: $accent-dark;
}

.masthead .container .branding .branding-heading .logo {
    margin-left: 0px;
    height: 30px;
}

@media only screen and (max-width: 800px) {
    #main-search-page .main-item .featured-cat .cat-container {
        padding-left: 0;
    }
}
